{:samples "/home/jack/soft/lumprj/samplefiles/ZJ.201403060002.0005.seed"
 :stations [
  ;;{:name "QIU" :type "B"}
  {:name "QIY" :type "B"}

 ]
 :rtime "2014-03-06 00:02:14.74"
 ;;"2014-03-08 22:00:04.74"
 :stime "2014-03-06 00:02:16.64"
 :second 5
 :move 500
 :earthquicks [
    {:data "/home/jack/soft/lumprj/samplefiles/ZJ.201403082200.0005.seed" :name "地震事件一"}
    {:data "/home/jack/soft/lumprj/samplefiles/ZJ.201403060002.0005.seed" :name "自相关"}
    ;;{:data "/home/jack/soft/lumprj/samplefiles/ZJ.201403082200.0005.seed" :name "地震事件三"}
  ]
}